---
import BeyLayout from '../layouts/BeyLayout.astro';
---

<BeyLayout
  title="Beyblade Invitational"
  description="A tournatment for all levels of bladers!"
  pubDate={new Date('June 23 2024')}
>
  <h1>Jordan's Beyblade Invitational</h1>
  <img src="/beyblade/redbeyblade.png" />
  <img src="/beyblade/bluebeyblade.png" />
  <h2>Overview</h2>
  <p>
    A team based single elimination tournament for a shared pot + prize. Teams
    of 3 people will be created day of tourney to ensure balance. Below you can
    RSVP and find more information how to score, where to buy, and what to buy.
  </p>
  <br />
  <p>I'll add more information here such as:</p>
  <ul>
    <li>Breakdowns of beyblade generations</li>
    <li>Where to buy beyblades with links</li>
    <li>Difference between takara tommys and hasboro</li>
    <li>Breakdown of rules and team match making</li>
  </ul>
  <br />
  <p>
    Please RSVP below. Also if you're interested in officiated please let me
    know!
  </p>
  <iframe
    class="airtable-embed"
    src="https://airtable.com/embed/appetPzITAhQaXHHf/pag0kpKQgNUC6ygVa/form"
    frameborder="0"
    width="100%"
    height="533"
    style="background: transparent; border: 1px solid #ccc;"></iframe>
  <br />
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/-4K0LNlfbus?si=pk3Tm2fKtm8Fqo40"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>

  <!-- 
    An embed of the form results  
  <iframe
    class="airtable-embed"
    src="https://airtable.com/embed/appetPzITAhQaXHHf/shrE7DPsffTsE4bZp?viewControls=on"
    frameborder="0"
    onmousewheel=""
    width="100%"
    height="533"
    style="background: transparent; border: 1px solid #ccc;"></iframe> -->
</BeyLayout>
