---
import Layout from '../layouts/Layout.astro';

const image = { path: "", alt: "somet text"}
---

<Layout
	title="Journal"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={image}
	ogImage={image}
>
	<h1>Journal</h1>
	<p>
		Work in progress
	</p>


</Layout>
