---
import Layout from '../layouts/BlogPost.astro';

const image = { path: "", alt: "somet text"}
---

<Layout
	title="Portfolio"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={image}
	ogImage={image}
>
	<p>
		Here are some projects I'm either fond or proud of. 
	</p>
</Layout>
