---
const today = new Date();
---
<style>
	footer {
		display: flex;
		justify-content: space-between;
	}
	.social-links {
		display: flex;
		flex-direction: column;
	}
	.test-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100px;
		width: 100px;
		background: rgb(var(--black));
		border-radius: 50%;
	}
	.test-icon > span {
		display: block;
		background: rgb(var(--light));
		height: 50px;
		width: 50px;
		border-radius: 10%;
	}
</style>
<footer class="wrapper align-right">
	<div class="test-icon"><span></span></div>
	<span>
		<div class="social-links">
			<a href="https://mstdn.social/@jordattebayo" target="_blank">
				Mastodon
			</a>
			<a href="https://twitter.com/jordattebayo" target="_blank">
				Twitter
			</a>
			<a href="https://github.com/jordattebayo" target="_blank">
				GitHub
			</a>
		</div>
		&copy; {today.getFullYear()} Jordan Booker. All rights reserved.
	</span>	
</footer>