---
const today = new Date();
---

<style>
  footer {
    display: flex;
    justify-content: space-between;
  }
  .social-links {
    display: flex;
    flex-direction: column;
  }
  .test-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    /* background: rgba(var(--gray-light), 75%); */
    border-radius: 50%;
    align-self: center;
  }
  .test-icon > span {
    /* color: rgb(var(--grey-dark)); */
    position: absolute;
    margin-left: 0;
    margin-top: 0;
    width: 12px;
    height: 12px;
    border-radius: 70% 15%;
    /* border: solid 1px rgb(var(--light)); */
    /* background-color: rgb(var(--black)); */
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .test-icon > span:before {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    /* color: rgb(var(--grey-dark)); */
    /* border: solid 1px rgba(var(--light), 100%); */
  }
</style>
<footer class="wrapper">
  <span>
    <div class="social-links">
      <a href="https://mstdn.social/@jordattebayo" target="_blank">
        Mastodon
      </a>
      <a href="https://twitter.com/jordattebayo" target="_blank"> Twitter </a>
      <a href="https://github.com/jordattebayo" target="_blank"> GitHub </a>
    </div>
    &copy; {today.getFullYear()} Jordan Booker. All rights reserved.
  </span>
  <div class="test-icon"><span></span></div>
</footer>
