---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, id, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive: boolean =
  href === pathname || href === pathname.replace(/\/$/, '');
---

<span class:list={[{ active: isActive }]} id={id}>
  <a href={href} class:list={[className]} {...props}><slot /></a>
</span>
<script>
  // Manually checking if it's a blog post, if it is, just highlight the blog nav item
  const navLinkElements = document.querySelectorAll('nav a');
  const navLinks = Array.from(navLinkElements);
  const currentPath = window.location.pathname.slice(1);
  const isLinkCurrentPath = navLinks.filter((link) => {
    if (link instanceof HTMLAnchorElement) {
      const hrefArray = link.href.split('/');
      const thisPath = hrefArray[hrefArray.length - 1];
      console.log(thisPath, currentPath);
      return currentPath === thisPath;
    }
    return false;
  });
  if (isLinkCurrentPath.length == 0) {
    if (currentPath.includes('journal')) {
      const journalLink = document.querySelector('#journal');

      if (journalLink) {
        journalLink.classList.add('active');
        // maybe update it to be back button
      }
    } else {
      const blogLink = document.querySelector('#blog');
      if (blogLink) {
        blogLink.classList.add('active');
        // maybe update it to be back button
      }
    }
  }
</script>
