---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import ThemeShapes from '../components/ThemeShapes.astro';
import Footer from '../components/Footer.astro';

const { title, description } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
	<style>
		ul {
			padding: 1em;
		}
		li > *  {
			width: 100%;
			display: grid;
			grid-template-columns: 20% 80%;
			list-style-type: circle;
		}
	</style>
		<Header />
		<ThemeShapes />
		<main>
			<slot/>
		</main>
		<ThemeShapes class="invert" />
		<Footer />
	</body>
</html>

